<script src="{% static 'movie/modal/infomodal.js' %}"></script>
<link rel="stylesheet" href="{% static 'movie/modal/infomodal.css' %}">
<script src="{% static 'jquery.min.js' %}"></script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <style>
      
    </style>
</head>
<body>
    <div id="container">
        <h2>Lorem Ipsum</h2>
        <button id="btn-modal">모달 창 열기 버튼</button>
        <div id="lorem-ipsum"></div>
    </div>
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>모달</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <p>영화감독 및 배우 이미지 약력</p>
                
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body></html>