<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>일일영화 - 추가 선택 #4</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'common/menubar/style.css' %}">
  <link rel="stylesheet" href="{% static 'common/main/style.css' %}">
  <script src="{% static 'movie/select/dselect.js' %}"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/film-slate.png">
</head>
<body>

<!-- 메뉴 바(직접 작성)-->
<div style="background-color:#171c28; display: flex; justify-content: space-between">
  <a href="/"><img src="{% static 'My project-1.png' %}" alt="일일영화 로고" style="height: 100px; width: auto;"></a>
	
  <div style="color: white; text-align:right; top: 5px; right: 10px;">
  {% if user.is_authenticated %}
    {{ user.username }}님, 환영합니다.<br>
    <a href="{% url 'user:profile' %}" class="btn other">내정보</a>
    <a href="{% url 'user:logout' %}" class="btn other">로그아웃</a>
  {% endif %}
  </div> 
</div>

  <br>
  <div class="dropdown_">
    <select class="dropdown" id="movieNations">
      <option>한국</option>
      <option>미국</option>
      <option>아시아</option>
      <option>유럽</option>
      <option>기타</option>
    </select>
    
    <select class="dropdown" id="movieOpenDt">
      <option>1분기</option>
      <option>2분기</option>
      <option>3분기</option>
      <option>4분기</option>
    </select>
    
    <select class="dropdown" id="movieAudit">
      <option>전체관람가</option>
      <option>12세</option>
      <option>12세이상관람가</option>
      <option>15세이상관람가</option>
      <option>청소년관람불가</option>
    </select>
  </div>
  <br>
  <div class="lower_">
    <a href="{% url 'movie:board3' %}" class="btn_">이전(3/4)</a>
    <a href="javascript:void(0);" class="btn_" onclick="selectDataNationsAuditOpendt();">결과 보기</a>
  </div>

</body>
{% comment %}
<form action="{% url 'movie:select' %}" id="movieSelect" method="post" autocomplete="off">
  {% csrf_token %}
  <input type="hidden" name="nations" id="selected_nations_hidden_input">
  <input type="hidden" name="opendt" id="selected_opendt_hidden_input">
  <input type="hidden" name="audit" id="selected_audit_hidden_input">
  <!-- <input type="hidden" name="openDt2" id="openDt"> -->
  <!-- <select type="hidden" name="nations" id="nations"></select>
    <select type="hidden" name="openDt" id="openDt"></select>
    <select type="hidden" name="audit" id="audit"></select> -->
</form>
<script src="{% static 'common/session.js' %}"></script>
{% endcomment %}
  

</html>

<form action="{% url 'movie:board4toresult' %}" method="get" id="selectedNationsOpendtAuditForm">
  <input type="hidden" name="nations" id="selected_nations_hidden_input">
  <input type="hidden" name="opendt" id="selected_opendt_hidden_input">
  <input type="hidden" name="audit" id="selected_audit_hidden_input">
</form>