<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>board 4</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'common/menubar/style.css' %}">
  <link rel="stylesheet" href="{% static 'common/main/style.css' %}">
</head>
<body>
  
  {% include 'common/menubar.html' %}

  <div class="dropdown_">
    <select class="dropdown" id="movieNations">
      <option>국내</option>
      <option>해외</option>
      <option>List entry #3</option>
      <option>List entry #4</option>
    </select>
    
    <select class="dropdown" id="movieOpenDt">
      <option>1분기</option>
      <option>2분기</option>
      <option>3분기</option>
      <option>4분기</option>
    </select>
    
    <select class="dropdown" id="movieAudit">
      <option>전체관람가</option>
      <option>12세</option>
      <option>12세이상관람가</option>
      <option>15세이상관람가</option>
      <option>청소년관람불가</option>
    </select>
  </div>

  <div class="points_"">
    <a href="#"class="points_point"></a>
    <button class="points_point"style="visibility: hidden;"></button>
    <a href="#"class="points_point"></a>
    <button class="points_point"style="visibility: hidden;"></button>
    <a href="#"class="points_point"></a>
    <button class="points_point"style="visibility: hidden;"></button>
    <div class="points_point active"></div>
  </div>

  <div class="lower_">
    <a href="{% url 'movie:board3' %}" class="btn_">이전(◀)</a>
    <a href="{% url 'movie:selectlist' %}" class="btn_" onclick="selectDataNationsAuditOpendt();">결과 보기</a>
  </div>

  <form action="{% url 'movie:select' %}" id="movieSelect" method="post" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" name="nations" id="nations">
    <!-- <input type="hidden" name="openDt2" id="openDt"> -->
    <input type="hidden" name="audit" id="audit">
    <!-- <select type="hidden" name="nations" id="nations"></select>
      <select type="hidden" name="openDt" id="openDt"></select>
      <select type="hidden" name="audit" id="audit"></select> -->
  </form>

</body>
<script src="{% static 'common/session.js' %}"></script>
<script src="{% static 'movie/select/dselect.js' %}"></script>
</html>

<form action="{% url 'movie:board1S' user_id=user.id %}" method="get" id="selectedNationsOpendtAuditForm">
  <input type="hidden" name="nations" id="selected_nations_hidden_input">
  <input type="hidden" name="opendt" id="selected_opendt_hidden_input">
  <input type="hidden" name="audit" id="selected_audit_hidden_input">
</form>