<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일일영화 - 배우 선택 #3</title>
  {% load static %}
  <!-- 파비콘 이미지 -->
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/film-slate.png">
  <!-- 메뉴바 css -->
  <link rel="stylesheet" href="{% static 'common/home/menubar.css' %}">

  <!-- 검색창 css -->
  <link rel="stylesheet" href="{% static 'movie/select/dselect.css' %}">

  <!-- DB card 선택 css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="{% static 'movie/select/card.css' %}">
  <!-- 페이징 css -->
  <link rel="stylesheet" href="{% static 'user/selected/pselected.css' %}"> 
  
  <!-- DB card 선택 js  -->
  <script src="{% static 'movie/select/card.js' %}"></script>
  <!-- 메인js화면  -->
  <script src="{% static 'movie/select/dselect.js' %}"></script>
  <!-- j쿼리사용 js -->
  <script src="{% static 'jquery.min.js' %}"></script>
</head>
<body>
  <div class="backs">
    
    <!-- 메뉴바 -->
    <div class=header>
      <a href="/" class="logo" target="blank">
        <img src="{% static 'My project-1.png' %}" alt="일일영화 로고">
      </a>

      <div class="welcom">
      {% if user.is_authenticated %}
      {{ user.username }}님, 환영합니다.<br>
      </div>

      <div class="names">
        <a href="{% url 'user:profile' %}" class="btn"> 회원정보 </a>
        <a href="{% url 'user:logout' %}" class="btn">로그아웃</a>
      {% else %}
      <!-- <a href="{% url 'user:login' %}" class="btn">로그인하기</a> -->
      {% endif %}
      </div> 
    </div>

    <!-- 페이지 설명 창-->
    <div>
      <h1>배우를 3명 선택해주세요</h1>
    </div>

    <!-- 선택한 내용 보여주기 -->
    <div class="show_acto">
      <input type="text" name="selected_actor1" id="selected_actor1" value="{{ selected_actor1|default_if_none:'' }}" onclick="DeleteSelectActor1()" readonly>
      <input type="text" name="selected_actor2" id="selected_actor2" value="{{ selected_actor2|default_if_none:'' }}" onclick="DeleteSelectActor2()" readonly>
      <input type="text" name="selected_actor3" id="selected_actor3" value="{{ selected_actor3|default_if_none:'' }}" onclick="DeleteSelectActor3()" readonly>
    </div>

    <!-- 검색 창, 데이터 받는 곳-->
    <form id="searchForm" autocomplete="off" class="box">
      <input type="text" name="searchWord" placeholder="{{ searchWord|default:'배우를 검색해주세요'|default_if_none:'' }}" />
      <input type="hidden" name="selected_actor1" value="{{ selected_actor1|default_if_none:'' }}"> 
      <input type="hidden" name="selected_actor2" value="{{ selected_actor2|default_if_none:'' }}">
      <input type="hidden" name="selected_actor3" value="{{ selected_actor3|default_if_none:'' }}">
    </form>

    <!-- DB 선택 테이블 css -->
    <section>
      <div class="content-list">
        <div class="slider">
          {% for list in actorlist_list %}
          <div class="item"  onclick="TableActor(this);">
            {{ list.actor1 }}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- DB 페이징 CSS 입힌것 -->   
    <div class="pagination">
      <!-- 이전 페이지 -->
      {% if page_obj.has_previous %}
        <a onclick="searchFormCheck('{{ searchWord }}', {{ page_obj.previous_page_number }})" class="page-link">이전</a>
      {% else %}
        <a href="#" class="page-link" tabindex="-1" aria-disabled="true">이전</a>
      {% endif %}

      <!-- 페이지 리스트 -->
      {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
          {% if page_number == page_obj.number %}
            <a onclick="searchFormCheck('{{ searchWord }}', {{ page_number }});" class="page-link">{{ page_number }}</a>
          {% else %}
            <a onclick="searchFormCheck('{{ searchWord }}', {{ page_number }});" class="page-link">{{ page_number }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- 다음페이지 -->
      {% if page_obj.has_next %}
        <a onclick="searchFormCheck('{{ searchWord }}', {{ page_obj.next_page_number }});" class="page-link">다음</a>
      {% else %}
        <a href="#" tabindex="-1" aria-disabled="true" class="page-link">다음</a>
      {% endif %}
    </div>
      
    <form id="pageForm">
      <input type="hidden" name="searchWord" id="searchWord">
      <input type="hidden" name="page" id="page">
      <input type="hidden" name="selected_actor1" id="actor1" value="{{ selected_actor1|default_if_none:'' }}">
      <input type="hidden" name="selected_actor2" id="actor2" value="{{ selected_actor2|default_if_none:'' }}">
      <input type="hidden" name="selected_actor3" id="actor3" value="{{ selected_actor3|default_if_none:'' }}">
    </form>

    <span class="points_">
      <a href="#"class="points_point"></a>
      <button class="points_point"style="visibility: hidden;"></button>
      <a href="#"class="points_point"></a>
      <button class="points_point"style="visibility: hidden;"></button>
      <a href="#"class="points_point"></a>
      <button class="points_point"style="visibility: hidden;"></button>
      <span class="points_point active"></span>
    </span>

    <!-- 각 HTML로 이동 버튼 -->
    <div class="page_3">
      <a href="{% url 'movie:board2' %}" class="btn_before">이전(2/4)</a>
      <a href="javascript:void(0);" class="btn_next" onclick="selectDataActors();" >다음(4/4)</a>
    </div>
  </div>
</body>


</html>

<form action="{% url 'movie:board3to4' %}" method="get" id="selectedActorsForm">
  <input type="hidden" name="actor1" id="selected_actor1_hidden_input">
  <input type="hidden" name="actor2" id="selected_actor2_hidden_input">
  <input type="hidden" name="actor3" id="selected_actor3_hidden_input">
</form>