*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    min-height: 100vh;
	flex-direction: column;
	gap: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), 
        url(https://images.unsplash.com/photo-1581905764498-f1b60bae941a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fG1vdmllfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}

.text-center{
	padding-top: 5px;
	font-weight: 600;
	line-height: 33px;
	color:rgb(2, 2, 2);	
	text-transform:uppercase;
	font-size: 23px;
	margin: -30px 0 50px 0;
	display: block;
	text-align: center;
}

/* .name-id {
	color:rgb(90, 82, 82);	
	text-transform:uppercase;
	display: block;
	text-align: left;
	margin-bottom: -2px;
	font-size:15px;
} */

.box{
	margin-top: 100;
	transform: translate(-50%,-50%);
	backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    overflow: hidden;
    padding: 50px 30px 50px 30px;
    position: relative;
	left:200;
	top: 80;
    text-align: center;
    z-index: 1;
	width: 500px;
	border-radius: 5px;
	border: 1px solid #dae7fa;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.inputBox{
	position: relative;
	width: 100%;
}

.inputBox input{
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(34, 33, 33, 0.25);
	background: rgba(255, 254, 254, 0.25);
	border-radius: 5px;
	outline: none;
	color: black;
	font-size: 1em;
	transition: 0.5s;
}

.inputBox span{
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgba(0, 0, 0, 0.55);
	text-transform: uppercase;
	transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
	color: #dd2f2f;
	transform: translateX(10px) translateY(-7px);
	font-size: 0.85em;
	padding: 0 10px;
	background: #fff;
	border-left: 1px solid #dd2f2f;
	border-right: 1px solid #dd2f2f;
	letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span{
	background: #dd2f2f;
	color: #dae7fa;
	border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus{
	border: 1px solid #dd2f2f;
}


/* 
.input-container{
	position:relative;
	margin-bottom:10px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:18px;
	color:rgb(90, 82, 82);	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
	border:0;
	border-bottom:1px solid rgb(126, 126, 126);  
	background:transparent;
	width:100%;
	padding:20px 0 5px 0;
	font-size:20px;
	color:rgb(0, 0, 0);
}
.input-container input:focus{ 
	border:none;	
	outline:none;
	border-bottom:1px solid black;
} */
.mbtn{
	border: 1px solid #fff;
	background-color: #fb2e2e;
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
	outline: none;
	border: 0;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	margin-left:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
	right: 50px;
	width: 100%;
	height: 45px;
}

.mbtn:active,
.mbtn:focus{  
	background-color:#ff0000;
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(242, 156, 123, 0.2);
}
.mbtn:hover{  
	background-color: #ff0000;
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(242, 156, 123, 0.2);
}

/* 
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:15px;
}

 */
