body{
	background-image: url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:100vh;
}

.text-center{
	color:#fff;	
	text-transform:uppercase;
	font-size: 23px;
	margin: -50px 0 50px 0;
	display: block;
	text-align: center;
}

.name-id {
	 
	color:#fff;	
	text-transform:uppercase;
	display: block;
	text-align: left;
	margin-bottom: -2px;
	font-size:12px;
}

.box{
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius:3px;
	backdrop-filter: blur(10px);
    background-color: rgba(29, 28, 28, 0.345);
    border: 1px solid rgba(254, 254, 254, 0.18);
    box-shadow: 0 10px 35px 0 rgba(54, 33, 0, 0.65);
    max-width: 300px;
    overflow: hidden;
    padding: 50px 30px 50px 30px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.input-container{
	position:relative;
	margin-bottom:10px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
	border:0;
	border-bottom:1px solid rgb(151, 124, 124);  
	background:transparent;
	width:100%;
	padding:8px 0 5px 0;
	font-size:16px;
	color:#fff;
}
.input-container input:focus{ 
	border:none;	
	outline:none;
	border-bottom:1px solid #ffffff;
}
.mbtn{
	border: 1px solid #fff;
	background-color: rgba(29, 28, 28, 0.345);
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
	outline: none;
	border: 0;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	margin-left:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
	right:30px;
}

.mbtn:active,
.mbtn:focus{  
	background-color: #fff;
	color: #000000d7;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.mbtn:hover{  
	background-color: #fff;
	color: #000000d7;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}


/* menubar */
.sawname {
	color: #fff;
	padding-bottom: 5px;
}

.logo {
	position: absolute;
	top: 5px;
	left: 10px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
	}
.logo img {
	height: 100px;
	width: auto;
	display: block;
}

a {
	cursor: pointer;
	transition: all 200ms linear;
	text-decoration: none;
}
.btn{  
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: 1px solid #fff;
	background-color: rgba(29, 28, 28, 0.345);
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
	background-color: #fff;
	color: #1f2029d7;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
	background-color: #fff;
	color: #1f2029d4;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}