body .dropdown_ {
    position: absolute;
    display: inline-flex;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.lower_ {
    position: absolute;
    display: inline-flex;
    left: 20px;
    right: 0;
    margin: auto;
    height: 0px;
    margin-top: 530px;
}
.dropdown {
    --max-scroll: 8;
    --text: #ffeba7;
    --border: #2F3545;
    --borderActive: #23C4F8;
    --background: #151924;
    --arrow: #6C7486;
    --arrowActive: #E4ECFA;
    --listText: #99A3BA;
    --listBackground: #F5F9FF;
    --listActive: #E4ECFA;
    --listTextActive: #6C7486;
    --listBorder: none;
    --textFilled: #99A3BA;
    width: 220px;
}

select {
    --text: #3f4656;
    --border: #2f3545;
    --background: #151924;

    margin: auto;
    display: inline;
    text-align: center;
}
select.dropdown {
    padding: 9px 16px;
    border-radius: 6px;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
  
    margin: auto;
    display: inline;
}

body {
  --bg: #171c28;
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  line-height: 22px;
  font-size: 16px;
  color: #adafb6;
  transition: background 0.3s ease;
  background: var(--bg);
}

.points_ {
    position: absolute;
    left: 95px;
    right: 0;
    margin: auto;
    width: 200px;
    height: 0px;
    margin-top: 530px;
}
.points_ .active {
    background: #ffeba7;
}
.points_point {
    float: left;
    width: 12px;
    display: inline;
    border-radius: 10px;
    height: 12px;
    background: #69aef3;
    margin-right: 4px;
    position: relative;
    display: inline;
}




.btn_{
    cursor: pointer;
    transition: all 200ms linear;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    
    margin: auto;
    text-decoration: none;

}
.btn_:active,
.btn_:focus{  
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn_:hover{  
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

