body {
  background: var(--bg);
  --bg: #292a2c;
}

.dropbox{
  margin-top: 8%;
  margin-left: 10%;
}

.dropdown_ {
  position: absolute;
  display: flex;
  width: 70%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}
.dropdown {
  --max-scroll: 8;
  --text: #3f4656;;
  --border: #2f3545;
  --borderActive: #23c4f8;
  --background: #fff;
  --arrow: #6c7486;
  --arrowActive: #e4ecfa;
  --listText: #99a3ba;
  --listBackground: #f5f9ff;
  --listActive: #e4ecfa;
  --listTextActive: #6c7486;
  --listBorder: none;
  --textFilled: #99a3ba;
  width: 220px;
}

select {
  --text: #3f4656;
  --border: #2f3545;
  --background: #fff;
  height: 30px;
}
select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  line-height: 22px;
  font-size: 16px;
  font-family: inherit;
}

.lower_ {
  display: flex;
  margin-top: 400px;
  z-index: 9999999;
}

