/* main.html의 드롭박스 css */

/* 드롭박스 위치 */
.select_{
  margin-top: 11%;
  margin-left: 19%;
}

.select_container {
  display: flex;
  justify-content: center;
  position: absolute;  
  /* position: relative; */
  min-width: 250px;
  height: 50px;
  flex-wrap: space-between;
  align-items: center;
  /* padding: 100px; */
}

/* 드롭박스 꾸미기 */
.select_box {
  border: none;
  appearance: none;
  padding: 0 30px 0 45px;
  color: white;
  background-color: #ff6200;
  font-size: 20px;
  width: 300px;
  /* width: 100%; */
  height: 75px;
  border-radius: 15px;
  cursor: pointer;
}

.select_container .select_icon {
  width: 30px;
  height: 30px;
  /* height: 100%; */
  /* position: absolute; */
  position: relative;
  right: 50px;
  background-color: #ff6200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  border-radius: 0 15px 15px 0;
}

.select_icon i {
  font-size: 30px;
  color: #fff;
}

.infos{
  background-color: #ffae00;
}




/* 원래 있던 드롭박스 꾸미기 */
/* .dropbox{
  margin-top: 8%;
  margin-left: 10%;
}

.dropdown_ {
  position: absolute;
  display: flex;
  width: 70%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}
.dropdown {
  --max-scroll: 8;
  --text: #3f4656;;
  --border: #2f3545;
  --borderActive: #ff0a0a;
  --background: #fff;
  --arrow: #6c7486;
  --arrowActive: #e4ecfa;
  --listText: #99a3ba;
  --listBackground: #f5f9ff;
  --listActive: #e4ecfa;
  --listTextActive: #6c7486;
  --listBorder: none;
  --textFilled: #99a3ba;
  width: 220px;
}

select {
  --text: #3f4656;
  --border: #2f3545;
  --background: #fff;
}

select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  line-height: 22px;
  font-size: 16px;
  font-family: inherit;
} */
