
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* 홈 배경 css */
.backs{
  width: 100%;
  height: 100vh;
  background: #292a2c;
  background-size: cover;
  background-position: center;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #292a2c;
  /* background: linear-gradient(#0f0c29, #302b63, #24243e); */
}

/* 테이블 페이지 css */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #292a2c;
}

.pagination a:active{
  background-color: red;
  color: white;
  border: 1px solid #292a2c;
}

.pagination a:hover {
  background-color: rgb(255, 255, 255);
  color: red;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* 배우, 장르검색 페이지 이동 버튼 css */
.page_ {
  display: flex;
  margin-top: -92px;
}

.btn_before{
  background-color: #fff;
  color: red;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  margin-left: 5vh;

  text-decoration: none;
  cursor: pointer;
  transition: all 200ms linear;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.btn_next{
  background-color: #fff;
  color: red;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  margin-left: 170vh;

  text-decoration: none;
  cursor: pointer;
  transition: all 200ms linear;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}


/* 첫페이지에서 다음페이지로 이동 css */
.page_first_next{
  display: flex;
  margin-top: -70px;
  /* margin-left: vh; */
}

.page_first_btn {
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms linear;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #fff;
  color: red;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}

.page_first_btn:active,
.page_first_btn:focus {
  background-color: red;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.page_first_btn:hover {
  background-color: red;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

/* 
.skybtn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  color: #3973ff;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.skybtn:active,
.skybtn:focus,
.skybtn:hover {
  background-color: #3973ff;
  border: 1px solid #3973ff;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
} */
