a {
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  background-color: #ffeba7;
  letter-spacing: 1px;
  justify-content: center;
	text-align: center;
}
.btn:active,
.btn:focus,
.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 100px;
  width: auto;
  display: block;
}

.sawname {
	color: #fff;
	padding-bottom: 5px;
}
