{% extends 'common/base.html' %}

{% block title %}home{% endblock %}


{% block body %} 

{% comment %}
{% if user.is_authenticated %}
<div>{{ user.username }}님, 환영합니다.</div>
<a href="{% url 'user:logout' %}"><div> 로그아웃</div></a>
{% else %}
<div>안녕하세요?</div>
{% endif %}
<a href="{% url 'user:login' %}"><div>로그인하기</div></a>
{% endcomment %}

{% load static %}
<link rel="stylesheet" href="{% static 'common/home/style.css' %}">

<div class="section pb-5 pt-5 pt-sm-2 text-center" style="text-align:center">
  <div class="card-3d-wrap mx-auto">
    <div class="card-3d-wrapper">
      <div class="card-front">
        <div class="center-wrap">
          <br>
          <br>
          <img src="../../static/film-slate.png" width="90px" height="90px">
          <br>
          
          <h3>
            오직 일일영화에서만 제공하는<br>
            차별화된 영화 흥행 예측 서비스!
          </h3>
          <h4>지금 바로 만나보세요</h4>
          <br>
          <div style="text-align: center;">
            <a href="{% url 'user:login' %}" class="cta">
              <span>시작하기</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}