{% load static %}
<link rel="stylesheet" href="{% static 'common/menubar/style.css' %}">


<div style="background-color:#1f2029; display: inline;">
  <a href="/" class="logo" target="blank">
		<img src="../../static/My project-1.png" alt="일일영화 로고">
	</a>
  <div style="text-align:right;"">
    {% if user.is_authenticated %}
    <br>
      <a href="{% url 'user:profile' %}" class="btn">내정보</a>
      <a href="{% url 'user:logout' %}" class="btn">로그아웃</a>
    {% else %}
    <br>
      <a href="{% url 'user:login' %}" class="btn">로그인하기</a>
    {% endif %}
  </div>
</div>


