.toResetInputCss {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgray;
    width: 400px;
    height: 250px;
}
#resetID {
    position: absolute;
    left: 130px;
}
#resetPassword1{
    position: absolute;
    left: 130px;
}
#resetPassword2{
    position: absolute;
    left: 130px;
}

#resetBtnCss{
    width: 30px;
    left: 315px;
    position: absolute;
    bottom: 10px;
    
}
.toResetInputCss2 {
    position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-40%, -40%);
    background-color: dimgray;
}
h2 {
    text-align: center;
}


