* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* 홈 배경 css */
.backs {
  width: 100%;
  height: 100vh;
  background: #292a2c;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

.slide_button > a {
  color: black;
}

/* 페이지 제목 */
h1 {
  position: relative;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

/* 검색창 css */
form.box {
  position: absolute;
  top: 19%;
  left: 76%;
  color: #fff;
  text-align: center;
}

form.box input {
  background-color: #fff;
  width: 300px;
  height: 10px;
  padding: 10px;
  padding-left: 12px;
  border-radius: 25px;
  border: none;
}

form.box input[text="text"]::placeholder {
  color: gray;
  font-size: 100px;
}

/* 선택한 내용 보여주기 꾸미기 */
.show {
  float: right;
  margin-top: 23px;
  margin-right: 200px;
  color: white;
  padding: 10px;
  height: 20px;
}

.show_acto {
  float: right;
  text-align: center;
  margin-top: 23px;
  color: white;
  padding: 11px;
}

.showSelect,
.showActors {
  background-color: #292a2c;
  border: none;
  outline: 2px none;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px;
  cursor: pointer;
}

/* 메인 선택 card css */
section .content-list {
  margin-top: 5rem;
  margin-bottom: 3rem;
  position: relative;
}
section .content-list h1 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
section .content-list .slider {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
section .content-list .slider::-webkit-scrollbar {
  display: none;
}
section .content-list .slider .item {
  min-width: 250px;
  height: 300px;
  background: linear-gradient(312deg, #8f8989 0%, #292a2c 54%, #464a52 100%);
  border-radius: 5px;
  cursor: pointer;
  /* 텍스트 css */
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

section .content-list .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .content-list .prev-arrow {
  transform: rotateY(180deg);
}
section .content-list .prev {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}
section .content-list .next {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}

/* 검색 창을 위한 css */
/* .container.custom {
  text-align: center;
  color: #292a2c;
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;
  transition: all 0.5s;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.finder.custom {
  border: 1px solid #fff;
  background-color: #f6f5f0;
  border-radius: 15px;
  padding: 8px;
  height: 80px;
  box-shadow  : 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.finder__outer.custom {
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  height: 63px;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #ffffff;
}

.finder__inner.custom {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.finder__form.custom {
  flex: 1;
  height: calc(100% + 3rem);
}

.finder__input.custom {
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
  width: 90%;
}

.finder__icon.custom {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  transition: all 0.2s;
  box-shadow: inset 0 0 0 20px #292929;
  border-radius: 50%;
  position: relative;
}
.finder__icon.custom:after,
.finder__icon.custom:before {
  display: block;
  content: "";
  position: absolute;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.finder__icon.custom:after {
  width: 16px;
  height: 16px;
  background-color: #292929;
  border: 3px solid #f6f5f0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 0px;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.active .finder__icon.custom:after {
  border-width: 10px;
  background-color: #f6f5f0;
}

.finder__icon.custom:before {
  width: 4px;
  height: 13px;
  background-color: #f6f5f0;
  top: 50%;
  left: 20px;
  transform: rotateZ(45deg) translate(-50%, 0);
  transform-origin: 0 0;
  border-radius: 4px;
}
.active .finder__icon.custom:before {
  background-color: #292929;
  width: 7px;
  transform: rotateZ(45deg) translate(-50%, 25px);
}

.processing .finder__icon.custom {
  transform-origin: 50%;
  animation: spinner 0.3s linear infinite;
  animation-delay: 0.5s;
}

.active .finder__icon.custom {
  transform: translateY(-5px);
} */

/* 감독, 장르, 배우 리스트 테이블을 정렬하기 위한 css */
/* table.director-list {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
table.genre-list {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
table.actor-list {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.director-list,
.genre-list,
.actor-list td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}
.director-list,
.genre-list,
.actor-list {
  text-align: center;
  margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
}

.director-list td,
.genre-list td,
.actor-list td {
  padding-bottom: 2%;
  padding-top: 2%;
  width: 280px;
} */

/* Background-color of the odd rows */
/* .director-list tr:nth-child(odd),
.genre-list tr:nth-child(odd),
.actor-list tr:nth-child(odd) {
  background-color: #323c50;
} */

/* Background-color of the even rows */
/* .director-list tr:nth-child(even),
.genre-list tr:nth-child(even),
.actor-list tr:nth-child(even) {
  background-color: #2c3446;
} */

/* .director-list th,
.genre-list th,
.actor-list th {
  background-color: #1f2739;
}

.director-list td,
.genre-list td,
.actor-list td {
  color: #ffeba7;
}

.director-list tr:hover,
.genre-list tr:hover,
.actor-list tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.director-list td:hover,
.genre-list td:hover,
.actor-list td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px, #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .director-list td:nth-child(4),
  .genre-list td:nth-child(4),
  .actor-list td:nth-child(4),
  .director-list th:nth-child(4),
  .genre-list th:nth-child(4),
  .actor-list th:nth-child(4) {
    display: none;
  }
}

/* 다음페이지 */
.btn_next {
  cursor: pointer;
  transition: all 200ms linear;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);

  margin-left: 80%;
  margin-top: -3%;
  text-decoration: none;
}

.btn_next:active,
.btn_next:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.btn_next:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

/* 선택한 내용 보여주기 꾸미기 */
.showSelect,
.showActors {
  background-color: #1f2029;
  border: none;
  outline: 2px none;
  color: white;
  text-align: center;
}

.showActors {
  border-bottom: 2px solid white;
  margin-top: 10px;
}

/* 배우선택 버튼 자리수정 */
.actors {
  margin-top: -50px;
}

/* 이메일 관련 모달창 css 시작점 */
#modalOpenBtn {
  /* position: bottom 203 left65 right 890 top 624; */
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  z-index: 150;
}

#emailModal {
  /* position: bottom 150 right 555 top 607; */
  position: absolute;
  width: 550px;
  height: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  z-index: 160;
}
#modalCloseBtn {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: 150;
}

/* 이메일 관련 모달창 css 끝 */
