/* 
home.html에서 사용하는 css 
main들에서 사용하는 css
(검색창,)


*/

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* 홈 배경 css */
.backs{
  width: 100%;
  height: 100vh;
  background: #292a2c;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

.slide_button > a {
  color: #292a2c;
} 

/* 페이지 제목 */
h1{
  position: relative;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

/* 검색창 css */
form.box{
  position: absolute;
  top: 19%;
  left: 76.5%;
  color: #fff;
  text-align: center;
}

form.box input {
  background-color: #fff;
  width: 300px;
  height: 10PX;
  padding: 10px;
  padding-left: 12px;
  border-radius: 25px;
  border: none;
}

form.box input[text=text]::placeholder{
  color: gray;
  font-size: 100px;
}
  

/* main1-2.html 선택한 내용 보여주기 위치 */
.show{
  float: right;
  margin-top: 23px;
  margin-right: 32px;
  color: white;
  padding: 10px;
  height: 20px;

}

/* main1-2.html 선택한 내용 보여주기 꾸미기 */
.showSelect {
  background-color: #292a2c;
  border: none;
  outline: 2px none;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px;
  cursor: pointer;
}

/* main3.html db선택한 내용 보여주기 위치 */
.show_acto{
  float: right;
  text-align:center;
  margin-top: 23px;
  color: white;
  padding: 8px;
  margin-right: 33px;
}

/*  main3.html db 선택한 내용 보여주기 꾸미기 */
.showActors {
  background-color: #292a2c;
  border: none;
  outline: 2px none;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px;
  cursor: pointer;
  margin-top: 8px;
}

/* DB 선택 테이블 */
section .content-list {
  margin-top: 5rem;
  margin-bottom: 3rem;
  position: relative;
}
section .content-list h1 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
section .content-list .slider {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
section .content-list .slider::-webkit-scrollbar {
  display: none;
}
section .content-list .slider .item {
  min-width: 250px;
  height: 300px;
  background: linear-gradient(312deg, #8f8989 0%, #292a2c 54%, #464a52 100%);
  border-radius: 5px;
  cursor: pointer;
  /* 텍스트 css */
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

section .content-list .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .content-list .prev-arrow {
  transform: rotateY(180deg);
}
section .content-list .prev {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}
section .content-list .next {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-10px);
  cursor: pointer;
}


/* 이메일 관련 모달창 css 시작점 */
#modalOpenBtn{
  /* position: bottom 203 left65 right 890 top 624; */
  position: absolute;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:  center;
  background-color: greenyellow;
  z-index: 150;
}

#emailModal {
  /* position: bottom 150 right 555 top 607; */
  position: absolute;
  width: 550px;
  height: 120px;
  display: none;
  justify-content: center;
  align-items:  center;
  background-color: #343a40;
  z-index: 160;
}
#modalCloseBtn{
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items:  center;
  background-color: red;
  z-index: 150;
}

/* 이메일 관련 모달창 css 끝 */
