/*  사용중인 메뉴바 */

.header {
    padding-bottom: 100px;
}

.logo {
	position: absolute;
	top: 5px;
	left: 10px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 100px;
	width: auto;
	display: block;
}

.welcom{
    color: white;
    margin-top: 30px;
    margin-right: 250px;
    text-align:right; 
    position: absolute; 
    top: 5px; 
    right: 10px; 

}

.names{
    margin-top: 10px;
    text-align:right; 
    position: absolute; 
    top: 5px; 
    right: 10px; 
}

a {
	cursor: pointer;
	transition: all 200ms linear;
	text-decoration: none;
    margin-top: 10px;
}
.btn{  
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: 1px solid #ff0000;
	background-color: #ff0000;
	color: #fff;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus,
.btn:hover{  
	background-color: #fff;
    border: 1px solid #fff;
	color: #ff0000;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
