@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
body, html {
    border: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1585951237313-1979e4df7385?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG1vdmllfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: fixed;
    left: 120%;
    top: -23%;
    width: 800px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.promotion-carousel .promotions {
    width: 100%;
    height: 100%;
}
.promotion-carousel .promotion {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}
.promotion-carousel .promotion .shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 50%);
}
.promo-text {
    color: #fff;
    position: relative;
}
.promo-text .copy {
    display: block;
}
.promo-detail {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 100;
    width: 85%;
    margin-left: 30px;
    padding: 10% 10% 10% 0;
    transform: translate(0, -50%);
}
@media (min-width: 1280px) {
    .promo-detail {
        margin-left: 90px;
    }
}
@media (min-width: 1440px) {
    .promo-detail {
        width: 550px;
    }
}
.promo-detail .headline {
    font-weight: 900;
    font-size: 22px;
    line-height: 1.15;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.promo-detail .body {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
    text-transform: none;
}
.promo-detail .buttons {
    padding: 15px 0;
}
.promo-detail .button {
    box-sizing: content-box;
    height: auto;
    line-height: 1;
    padding: 15px 20px;
    width: auto;
    display: inline-block;
}
.promo-detail .button:first-child {
    background: #b10000;
}
.promo-detail .button:first-child:hover {
    border-color: #c00;
    background-color: #c00;
}
.promo-detail .dash {
    background: #b10000;
    display: block;
    height: 3px;
    margin-bottom: 10px;
    width: 30px;
}
.promo-detail .promo-flag {
    background: 0 0;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
}
@media (min-width: 668px) {
    .promo-detail {
        width: 450px;
    }
    .promo-detail .headline {
        font-size: 36px;
        line-height: 1.1;
    }
    .promo-detail .body {
        font-size: 14px;
        margin-bottom: 0;
        text-transform: none;
    }
}
@media (min-width: 840px) {
    .promo-detail .headline {
        font-size: 42px;
    }
    .promo-detail .body {
        font-size: 18px;
    }
}
@media (min-width: 1024px) {
    .promo-detail .dash {
        display: block;
        height: 3px;
        margin-bottom: 15px;
        width: 30px;
    }
    .promo-detail .headline {
        font-weight: 600;
        font-size: 56px;
        line-height: .85;
        margin-bottom: 15px;
        margin-left: -2px;
    }
    .promo-detail .headline.medium {
        font-size: 50px;
    }
    .promo-detail .headline.long {
        font-size: 40px;
    }
    .promo-detail .body {
        font-size: 18px;
        line-height: 1.4;
    }
    .promo-detail .button {
        padding: 12px;
    }
}
@media (min-width: 1440px) {
    .promo-detail .dash {
        height: 4px;
        width: 40px;
    }
    .promo-detail .headline {
        font-size: 66px;
    }
    .promo-detail .headline.medium {
        font-size: 56px;
        line-height: 1;
    }
    .promo-detail .headline.long {
        font-size: 46px;
        line-height: 1;
    }
    .promo-detail .promo-flag {
        font-size: 18px;
        line-height: 18px;
    }
    .promo-detail .body {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

/* 소개창 제목 */

.header {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* 소개창 내용 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.scroll-container {
    height: 120vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
.scroll-item {
    position: relative;
    scroll-snap-align: start;
    height: 100vh;

}

.scroll-item h2 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 1rem;
    color: #a1aae6;
    z-index: 1;
}
.scroll-item__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.scroll-item__inner {
    border: 2px solid white;
    padding: 1rem;
    transition: opacity 800ms, transform 800ms;
    opacity: 0;
    transform: translate3d(0, -1.5rem, 0);
}
.scroll-item__inner.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.scroll-item__bg-image.is-visible::after {
    background: rgba(0, 0, 0, 0.3);
}
