{% load static %}
<title>일일영화 - 회원 정보</title>
<link rel="stylesheet" href="{% static 'user/infos/profile.css' %}">
<link rel="stylesheet" href="{% static 'common/home/menubar.css' %}">

<body>
  <div class=container>
    <!-- 메뉴바 -->
    <div class=header>
      <a href="/" class="logo" target="blank">
        <img src="{% static 'My project-1.png' %}" alt="일일영화 로고">
      </a>

      <div class="welcom">
      {% if user.is_authenticated %}
      {{ user.username }}님, 환영합니다.<br>
      </div>

      <div class="names">
        <a href="{% url 'home' %}" class="btn"> 홈으로 </a>
        <a href="{% url 'user:logout' %}" class="btn">로그아웃</a>
      {% endif %}
      </div> 
    </div>

    <div class="container2">
      <!-- 비밀번호 변경 카드-->
      <div class="box">
        <h3>비밀번호 변경</h3>
        <p>
          비밀번호를 변경 하시겠습니까?
          <br><br><br>
        </p>
        <a href="{% url 'user:change_user_page' %}"><button>비밀번호 변경</button></a>
        <span class="count">1</span>
      </div>

      <!-- 회원탈퇴 카드 -->
      <div class="box">
        <h3>회원탈퇴</h3>
        <p>
          탈퇴하시면 회원정보가 <br>즉시 삭제됩니다.<br>삭제하러 가시겠습니까?
        
        </p>
        <a href="{% url 'user:delete_user_page' %}"><button>회원탈퇴</button></a>
        <span class="count">2</span>
      </div>

      <!-- 회원데이터 카드-->
      <div class="box">
        <h3>자료실</h3>
        <p>
          선택하신 내용들을 모두 <br> 볼 수 있습니다.<br>자료들을 확인하러 가시겠습니까?
        </p>
        <a href="{% url 'user:selected_data' %}"><button>자료실</button></a>
        <span class="count">3</span>
      </div>
    </div>
  </div>
</body>
