{% load user_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일일영화 - 자료실</title>
  <!-- 부트스트랩과 비슷한 tailwind를 사용 -->
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
  <!-- 추가로 css를 적용하고 싶다면 class속성 이름을 잘 적어야함-->
  <link rel="stylesheet" href="{% static 'user/selected/pselected.css' %}">
  {% comment %} <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}"> {% endcomment %}
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/film-slate.png">
</head>
<body>

  <!-- 메뉴바 직접작성 -->
  <div style="background-color:#dae7fa; display: flex; justify-content: space-between">
    <a href="/" class="logo" target="blank">
      <img src="{% static 'My project-1.png' %}" alt="일일영화 로고"
      style="height: 100px; width: auto;">
    </a>

    <div style="text-align:right; position: absolute; top: 5px; right: 10px;">
    {% if user.is_authenticated %}
      {{ user.username }}님, 환영합니다.<br>
      <a href="{% url 'user:profile' %}" class="skybtn">내정보</a>
      <a href="{% url 'user:logout' %}" class="skybtn">로그아웃</a>
    {% endif %}
    </div> 
  </div>

  <!-- 검색 창 -->
  <div class="container mx-auto py-6 px-4">
    {% comment %} <div class="flex-1 pr-4">
      <div class="relative md:w-1/3">
        <input type="search" class="w-full pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Search..." />
        <div class="absolute top-0 left-0 inline-flex items-center p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
          </svg>
        </div>
      </div>
    </div> {% endcomment %}

    <!-- 선택했던 내용을 표로 보여주는 부분 -->
    <!-- height로 게시판 크기를 조절하고 스크롤로 내려서 보여줄수 있게 하는 기능-->
    <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="height: 405px" >
      <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
        <thead>
          <tr class="text-left">
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">번호</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">감독</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">장르</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">배우</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">국가</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">개봉시기</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">관람등급</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">결과보기</th>
            <th class="py-3 px-6 sticky top-0 border-b border-gray-200 bg-gray-100">삭제</th>
          </tr>
        </thead>
        <tbody>
          {% for list in selecteddata_list %}
              <tr>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1 }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.director }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.genre }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.actor1 }}<br> {{list.actor2}}<br> {{ list.actor3 }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.nations }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.opendt }}</span></td>
                <td class="border-dashed border-t border-gray-200" ><span class="text-gray-700 px-6 py-3 flex items-center">{{ list.audit }}</span></td>
                <td class="border-dashed border-t border-gray-200" >
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
                    <a href="{% url 'movie:board2S' pk=list.id %}">결과보기</a>
                  </button>
                </td>
                <td class="border-dashed border-t border-gray-200">
                  <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" >
                    <a href="{% url 'movie:delete' pk=list.id %}">삭제하기</a>
                  </button>
                </td>
              </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  
    <!-- 페이징 기능 -->
    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm">
        <!-- 이전 페이지 -->
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
            <span class="sr-only">이전</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          </a>
          {% else %}
          <a href="#" class="disable relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
            <span class="sr-only">이전</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          </a>
        {% endif %}
          <!-- 원하는 페이지-->
        {% for page_number in page_obj.paginator.page_range %}
        {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
          {% if page_number == page_obj.number %}
              <a href="?page={{ page_number }}" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20">{{ page_number }}</a>
          {% else %}
              <a href="?page={{ page_number }}" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">{{ page_number }}</a>
          {% endif %}
        {% endif %}
        {% endfor %}
          <!-- 다음페이지 -->
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
            <span class="sr-only">Next</span>
            <!-- Heroicon name: mini/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </a>
        {% else %}
        <a href="#" class=" disable relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: mini/chevron-right -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </a>
        {% endif %}
      </nav>
    </div>
  <!-- 페이징 기능 끝 -->
  </div>

</body>
</html>