{% load static %}
<title>일일영화 - 회원탈퇴</title>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'user/delete/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'common/home/welcome.css' %}">
<link rel="stylesheet" href="{% static 'common/home/menubar.css' %}">
<link rel="stylesheet" href="{% static 'user/delete/remove.css' %}">
<link rel="icon" type="image/png" sizes="32x32" href="../../static/film-slate.png">

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
  <input type="hidden" id="csrf_token" value="{{ csrf_token }}"> 
  <!-- 메뉴바 -->
  <div class=header>
    <a href="/" class="logo" target="blank">
      <img src="{% static 'My project-1.png' %}" alt="일일영화 로고">
    </a>

    <div class="welcom">
    {% if user.is_authenticated %}
    {{ user.username }}님, 환영합니다.<br>
    </div>

    <div class="names">
      <a href="{% url 'user:profile' %}" class="btn"> 회원정보 </a>
      <a href="{% url 'user:logout' %}" class="btn">로그아웃</a>
    {% else %}
    <!-- <a href="{% url 'user:login' %}" class="btn">로그인하기</a> -->
    {% endif %}
    </div> 
  </div>

  <!-- 템플릿 주내용 -->
  <table>
    <div class="content">

      <!-- comment가 원본임 -->
      {% comment %}
      <form action="{% url 'user:delete_user' %}" method="post" novalidate onsubmit="return deleteFormCheckMent();">
      {% endcomment %}
        <form action="{% url 'user:delete_user_reason' %}" method="post">
        {% csrf_token %}

        <h3>
          삭제 버튼을 누르시면 완전히 삭제가 되어 되돌릴 수 없습니다.<br><br>
          {{ user.username }} 회원님의 계정을 삭제 하시겠습니까?<br>
        </h3>

    </div>
        <!-- comment가 원본임 -->
        {% comment %}
        <button type="submit" name="delete_user_bt" id="deleteUserBt" class="btn o">확인</button>
        {% endcomment %}
        
        <!-- 설문조사용 테스즈 전용 모달창 -->
        <div id="my_modal">
          <label><input type="radio" name="reason" id="reason" value="개인정보 떄문에" >개인정보 때문에</label><br>
          <label></label><input type="radio" name="reason" id="reason" value="재미가 없어서">재미가 없어서</label><br>
          <label></label><input type="radio" name="reason" id="reason" value="이유없음">이유없음</label><br>
          <input type="button" onclick="reasonAjax()" value="제출하기"></button>
          <a class="modal_close_btn">돌아가기</a>
        </div>
        <button type="button" name="delete_user_bt" id="deleteUserBt" class="btn o" onclick="questionModal();">확인</button>
      </form>
        <button type="submit" class="btn x" onclick="info_user()">취소</button>        
  </table>        
</body>
