{% load static %}
<script src="{% static 'user/delete/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'user/delete/remove.css' %}">

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
  
  <div class="blur"></div>
  <div class="main" id="main">
    <h1 class="title">{{ user.username }} 회원님의 계정을 삭제 하시겠습니까?</h1>
    {% comment %}
    <form action="{% url 'user:delete_user' auth_user_id=user.id %}" method="post" novalidate onsubmit="return deleteFormCheckMent();">
    {% endcomment %}
    <form action="{% url 'user:delete_user' %}" method="post" novalidate onsubmit="return deleteFormCheckMent();">
      {% csrf_token %}
      <button type="submit" name="delete_user_bt" id="deleteUserBt" class="btn">탈퇴하기</button>
    </form>
  </div>
  
  
  <div class="particles" id="particles"></div>
  
</body>