{% load static %}

<script src="{% static 'user/change/script.js' %}"></script>

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
  {% include 'common/menubar.html' %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table border="1" >
    <thead>
      <th>비밀번호수정</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <form action="{% url 'user:change_user' %}" id="userChange" method="post" novalidate onsubmit="return changeFormIdCheckMent();">
            {% csrf_token %}
            <input type="text" name="username" value="username" id="changeName" placeholder="ID를 입력해주세요.">
            <input type="hidden" id="originName" value="{{ user.username }}"><br>
            <input type="password" name="password" value="password" id="changePassword1" placeholder="변경하실 PW를 입력해주세요."> <br>
            <input type="password" name="password" id="changePassword2" placeholder="PW를 한번더 입력해주세요."> <br>
            <button type="submit" name="change_user_bt">수정하기</button>
          </form>
        </td>
      </tr>
    </tbody>

  </table>
</body>